/* Anastasiia Mishchenko */
.photo-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  overflow: hidden;

  .photo-carousel__wrapper {
    width: 100%;

    .photo-carousel__images {
      display: flex;
    }
  }
}
.photo-carousel__image {
  width: 100%;
  max-width: 28rem;
  height: auto;
  object-fit: cover;
}

.photo-carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 0.4s ease-in;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  
  &:hover {
    background-color:  rgba(0, 0, 0, 0.7);
  }
}

.photo-carousel__button--prev {
  left: 10px;
}

.photo-carousel__button--next {
  right: 10px;
}

.photo-carousel__icon {
  width: 24px;
  height: 24px;
  fill: var(--color-white);
  opacity: 0.8;
}


