/*Dmytro Nesvyzhskiy*/

.bestsellers-carousel__title {
    text-align: center;
    font-size: 40px;
    color: var(--color-text-block-title);
}

.bestsellers-carousel__subtitle {
    text-align: center;
    font-size: var(--font-size-subheading);
    color: var(--color-text-primary);
}

.bestsellers-carousel__image {
    padding: 15px;
    /* max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;  */
}

.bestsellers-carousel__label {
    text-align: center;
    font-size: 38px;
    color: var(--color-text-primary);
    font-family: var(--font-secondary);
    font-weight: bold;
}

.bestsellers-carousel__browse-button {
    text-align: center;
    font-size: var(--font-size-default);
    color: var(--color-button-primary-text);
    font-family: var(--font-primary);
    font-weight: bold;
}