/* Kraievskyi Volodymyr */
/* Made mobile, responsiveness coming soon */
.contact-us {
  padding: 90px 24px;
  background-color: var(--color-white);

  .contact-us__header {
    .contact-us__title-separator {
      font-family: var(--font-secondary);
      color: var(--color-separator);
    }

    .contact-us__title {
      font-size: var(--font-size-title);
    }

    .contact-us__description {
      margin-top: 25px;
      font-family: var(--font-primary);
      font-size: var(--font-size-subheading);
      color: var(--color-text-primary);
    }
  }

  .contact-us__info {
    color: var(--color-text-secondary);
    font-family: var(--font-primary);
    font-size: var(--font-size-default);
    margin-top: 25px;

    .contact-us__address-title,
    .contact-us__worktime-title,
    .contact-us__contacts-title {
      color: var(--color-text-primary);
      font-size: var(--font-size-heading);
    }

    .contact-us__worktime,
    .contact-us__address {
      margin-bottom: 16px;

      .contact-us__worktime-text {
        margin: 0;
      }
    }

    .contact-us__contacts-link {
      text-decoration: none;
      color: var(--color-text-secondary);
    }

    .contact-us__socials {
      list-style: none;
      padding: 0;
      margin-top: 30px;
      display: flex;
      gap: 15px;

      .contact-us__social-item {
        fill: var(--color-button-secondary);
      }

      .contact-us__social-item:hover {
        fill: var(--color-socials-hover);
      }
    }
  }

  .contact-us__map-container {
    margin-top: 50px;

    .contact-us__map-iframe {
      width: 100%;
      max-width: 640.83px;
      height: 502px;
      filter: grayscale(100%);
    }
  }
}
