.lookbook {
  padding: 90px 24px;
  /* background-color: var(--page-default-background); */

  .lookbook__header {
    margin: var(--content-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .lookbook__header-content {
      display: flex;
      justify-content: center;
      color: var(--color-text-block-title);
      font-size: 40px;
      font-family: var(--font-secondary);
      font-weight: var(--font-weight-medium);
      letter-spacing: -0.84px;

      .lookbook__header-separator {
        color: var(--color-separator);
        margin-right: 5px;
      }
    }
    .lookbook__header-text {
      font-family: var(--font-primary);
      text-align: center;
      color: var(--color-text-primary);
      margin-top: 25px;
      font-size: var(--font-size-subheading);
      font-stretch: 100%;
      font-weight: var(--font-weight-regular);
    }
  }

  .lookbook__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 45px;

    .lookbook__photo-item {
      position: relative;
      overflow: hidden;
      aspect-ratio: 1 / 1;
      margin-top: 7.5px;
      padding: 0 3.75px;

      .lookbook__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @media (min-width: 480px) {
      .lookbook__photo-item {
        margin-top: 15px;
        padding: 0 7.5px;
      }
    }
  }
}

@media (min-width: 768px) {
  .lookbook {
    padding: 97.5px 32px 105px;

    .lookbook__header {
      .lookbook__header-content {
        font-size: 50px;
        letter-spacing: -1.05px;
      }
    }
  }
}
