.lookbook {
  padding: 90px 24px;
  background-color: var(--color-white);

  .lookbook__header {
    margin: var(--content-padding);
    display: flex;
    flex-direction: column;

    .lookbook__header-content {
      display: flex;
      justify-content: center;
      color: var(--color-text-primary);
      font-size: 40px;
      font-family: var(--font-secondary);
      font-weight: var(--font-weight-medium);
      letter-spacing: -0.84px;

      .lookbook__header-separator {
        color: var(--color-background-primary);
      }
    }
    .lookbook__header-text {
      font-family: var(--font-primary);
      text-align: center;
      color: var(--color-text-primary);
      margin-top: 25px;
      font-size: var(--font-size-subheading);
      font-stretch: 100%;
      font-weight: var(--font-weight-regular);
    }
  }

  .lookbook__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 45px;
    gap: 15px;

    .lookbook__photo {
      width: 100%;
      max-width: 350px;
      height: 86px;
      object-fit: cover;
    }
  }
}
