.photo-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  overflow: hidden;

  .photo-carousel__wrapper {
    width: 100%;
    overflow: hidden;

    .photo-carousel__images {
      display: flex;
      transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
      width: 100%;
      will-change: transform;
    }
  }
}

.photo-carousel__slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease-out;
  padding: 0 1.5px;
  padding-bottom: 1.5px;

  &.clone {
    opacity: 1;
  }
}

.photo-carousel__image {
  width: 100%;
  max-width: auto;
  height: auto;
  object-fit: cover;
  transition: all var(--image-transition-duration) ease-out;
}

.photo-carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(-50%) scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(-50%) scale(0.95);
    transition: all 0.2s ease-out;
  }
}

.photo-carousel__button--prev {
  left: 20px;
}

.photo-carousel__button--next {
  right: 20px;
}

.photo-carousel__icon {
  width: 28px;
  height: 28px;
  fill: var(--color-white);
  opacity: 0.9;
  transition: opacity 0.3s;
}

.photo-carousel__button:hover .photo-carousel__icon {
  opacity: 1;
}