<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Handmade Lingerie</title>
    <link
      rel="shortcut icon"
      href="img/global/mariella-favicon.png"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <!-- Aleksandra Krasna-->
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-nav.partial.html"
      ></nav>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></div>
    </header>
    <!--end Aleksandra Krasna-->
    <main>
      <section></section>
      <!-- Dmytro Nesvyzhskiy -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.bestsellers-carousel.partial.html"
      ></section>
      <!-- end Dmytro Nesvyzhskiy -->
      <section></section>
      <section></section>
      <!-- Mykhailo Kusynko -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.lookbook.partial.html"
      ></section>
      <!-- end Mykhailo Kusynko -->
      <!--Kraievskyi Volodymyr -->
      <section
        class="photo-carousel"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.contact-us.partial.html"
      ></section>
      <!-- end Kraievskyi Volodymyr-->
      <!-- Adrian-Mykola Zhovnir -->
      <section 
      class="handmade"
      data-hx-trigger="load" 
      data-hx-swap="outerHTML" 
      data-hx-get="index.handmade-lingerie.partial.html"
      ></section>
      <!-- end Adrian-Mykola Zhovnir -->
      <!-- Mishchenko Anastasia -->
      <section
        class="photo-carousel"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.photo-carousel.partial.html"
      ></section>
      <!-- Shukel Vladyslav -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.shopping-cart.partial.html"
      ></section>
      <!-- end Shukel Vladyslav -->
    </main>
    <footer
      class="footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.footer.partial.html"
    ></footer>
    <!-- end Mishchenko Anastasiia  -->
  </body>
</html>
