<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Handmade Lingerie</title>
    <link
      rel="shortcut icon"
      href="img/global/mariella-favicon.png"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <!-- Aleksandra Krasna-->
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-nav.partial.html"
      ></nav>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></div>
    </header>
    <!--end Aleksandra Krasna-->
    <main>
      <section></section>
      <!-- Dmytro Nesvyzhskiy -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.bestsellers-carousel.partial.html"
      ></section>
      <!-- end Dmytro Nesvyzhskiy -->
      <section></section>

      <!-- Sandiuk Petro-->
      <section
        class="coming-soon"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.coming-soon.partial.html"
      ></section>
      <!-- end Sandiuk Petro-->

      <!-- Mykhailo Kusynko -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.lookbook.partial.html"
      ></section>
      <!-- end Mykhailo Kusynko -->

      <!--Tsaruk Max -->
      <section
        class="vacancy-form"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.vacancy-form.partial.html"
      ></section>
      <!-- end Tsaruk Max-->

      <!--Kraievskyi Volodymyr -->
      <section
        class="contact-us"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.contact-us.partial.html"
      ></section>
      <!-- end Kraievskyi Volodymyr-->
      <!-- Adrian-Mykola Zhovnir -->
      <section
        class="handmade"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.handmade-lingerie.partial.html"
      ></section>
      <!-- end Adrian-Mykola Zhovnir -->
      <!-- Mishchenko Anastasia -->
      <section
        class="photo-carousel"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.photo-carousel.partial.html"
      ></section>
      <!-- end Mishchenko Anastasiia  -->
      <!-- Mishchenko Anastasia -->
    </main>
    <footer
      class="footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.footer.partial.html"
    ></footer>
    <div
      class="subscribe-confirm-modal"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.subscribe-confirm-modal.partial.html"
    ></div>
    <!-- end Mishchenko Anastasiia  -->
    <!-- Shukel Vladyslav -->
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.shopping-cart.partial.html"
    ></section>
    <!-- end Shukel Vladyslav -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
